



.products-no-comments {
  background-color: purple;
  text-align: center;
  padding: 10px;

  h1 {
    color: orange;
    font-size: 40px;
  }

  .button {
    color: black;
    font-size: 26px;
    border-radius: 5px;
  }
}
